@charset 'UTF-8';

/**
 * Created by ZhengLu on 2016/8/22.
 */

body {
    font-family: 'Microsoft YaHei','微软雅黑','Arial';
    font-size: 14px;
    color: #75797c;
    background-color: #fff;
}
 
input,
textarea {
    font-family: 'Microsoft YaHei','微软雅黑','Arial';
    font-size: 12px;
    color: #9d9d9d;
}

select,
option {
    font-family: 'Microsoft YaHei','微软雅黑','Arial';
    color: #fff;
    border: none;
    outline: none;
}

div {
    box-sizing: border-box;
}

.container {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background: url(../images/cd-rd-bg.jpg) no-repeat;
}

.hot-item {
    width: 100%;
    min-width: 1920px;
    margin-bottom: 10px;
}

/* 大屏头部样式 */
.hot-item .cd-rd-header {
    width: 100%;
    height: 89px;
    background: url(../images/cb-rd-icon01.png) no-repeat;
}

.hot-item .cd-rd-header h1 {
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    top: 20px;
    left: 70px;
    width: 344px;
    color: #bfe5f5;
    background-image: -webkit-gradient(linear,0 0,0 bottom,from(rgba(255,255,255,1)),to(rgba(103,205,254,1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hot-item .content {
    width: 100%;
    padding: 5px 0;
}

.hot-item .content .list-left {
    float: left;
}

/* 地图样式 */
.hot-item .content .map {
    position: absolute;
    top: 96px;
    left: 5%;
}

.hot-item .content .map .map-container {
    font-family: 'Microsoft YaHei','微软雅黑','Arial';
    z-index: 1;
    width: 1028px;
    height: 868px;
}

.hot-item .content .map-china {
    top: 5%;
}

.hot-item .content .map-china .map-container {
    width: 916px;
    height: 754px;
}

.hot-item .content .map .map-container div {
    overflow: visible!important;
}

/* 地图提示框样式 */
.mark-point-data {
    position: absolute;
}

.mark-point-circle-bg {
    width: 35px;
    height: 35px;
    margin-top: -25px;
    margin-left: -16px;
    background-image: url(../images/circle.png);
    background-size: cover;
}

.map-hover-tooltip,
.mark-point-data span {
    font-size: 12px;
    margin-left: -50%;
    background-size: 100% 100%;
}

.mark-point-data span {
    /*display:inline-block;
    */
    display: block;
    width: 45px;
    height: 106px;
    margin-top: -143px;
    background-image: url(../images/map-point-bg.png);
}

.mark-point-data .tmpDataTitle {
    font-size: 14px;
    padding: 15px 20px 0;
    text-align: center;
    color: #fff;
}

.map-hover-tooltip {
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    z-index: 20;
    margin-right: 50%;
    padding: 10px 15px 15px;
    transform: translateY(-80%);
    border: 1px solid #f8b63e;
    border-radius: 4px;
    /*box-shadow:inset 0 0 5px #8fd5f5;
    */
    background: url(../images/map-hover-tooltip.png) repeat;
}

.map-hover-tooltip img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.map-hover-tooltip li {
    list-style-position: inside;
    list-style-type: disc;
    color: #ffce00;
}

.map-hover-tooltip span {
    color: #fff;
}

.echarts-tooltip {
    z-index: 1000;
}

@keyframes showMrakPointData {
    0% {
        transform: scale(0);
        opacity: .5;
    }

    70% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes showMrakPointData {
    0% {
        -webkit-transform: scale(0);
        opacity: .5;
    }

    70% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes markPointCirclescaleIn {
    0%,
    100% {
        transform: scale(0);
    }

    99% {
        transform: scale(1);
    }
}

@-webkit-keyframes markPointCirclescaleIn {
    0%,
    100% {
        -webkit-transform: scale(0);
    }

    99% {
        -webkit-transform: scale(1);
    }
}

@keyframes markPointCircleFadeOut {
    0% {
        transform: scale(0);
    }

    10% {
        transform: scale(1);
        opacity: 1;
    }

    99% {
        transform: scale(1);
        opacity: 0;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@-webkit-keyframes markPointCircleFadeOut {
    0% {
        -webkit-transform: scale(0);
    }

    10% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    99% {
        -webkit-transform: scale(1);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}

@keyframes markPointCircleScaleOut {
    0%,
    100% {
        transform: scale(0);
    }

    10% {
        transform: scale(1);
    }
}

@-webkit-keyframes markPointCircleScaleOut {
    0%,
    100% {
        -webkit-transform: scale(0);
    }

    10% {
        -webkit-transform: scale(1);
    }
}/* 地域统计 */
.hot-item .content .province-list {
    position: absolute;
    bottom: 60px;
    left: 50px;
    width: 929px;
    border: 1px solid #1b3d57;
    background-color: rgba(18,51,83,.2);
    box-shadow: inset 0 0 10px #1b3d57;
}

.province-list .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    height: 40px;
    padding-left: 19px;
    color: #72d8ff;
    border-bottom: 1px solid #1b3d57;
    background-color: rgba(17,46,75,.5);
}

.province-list .province-list-content {
    float: left;
    overflow: hidden;
    padding: 16px 0 6px 40px;
}

.province-list .province-list-item {
    float: left;
    width: 77px;
}

.province-list .province-list-item span {
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
    color: #72d8ff;
}

.province-list .province-list-num {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 32px !important;
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    text-align: center;
    color: #6ca0c7;
    border-radius: 50%;
    box-shadow: inset 0 0 20px #2a668d;
}

.province-list .province-list-num.num1 {
    color: #fff;
    background-color: rgba(114,216,255,.8);
    box-shadow: none;
}

.province-list .province-list-num.num2 {
    color: #fff;
    background-color: rgba(255,212,39,.8);
    box-shadow: none;
}

.province-list .province-list-num.num3 {
    color: #fff;
    background-color: rgba(21,125,216,.8);
    box-shadow: none;
}

.province-list .province-list-item-bg {
    margin: 6px 0;
    text-align: center;
}

.province-list .province-list-item-bg span {
    color: #4aacff;
}

.province-list .province-list-item-bcRc {
    text-align: center;
    border-top: 1px solid #15557b;
    background: url(../images/cb-rd-icon08.png) no-repeat left top,url(../images/cb-rd-icon08.png) no-repeat right top;
}

.province-list .province-list-item-bcRc span {
    font-size: 14px;
    line-height: 27px;
    color: #f09469;
}

.province-list .province-list-item-bcRc.bcRcTop span {
    color: #fc0;
}

.province-list .province-list-content .list {
    display: inline-block;
}

/* 热点信息展示 */
.hot-item .content .list-right {
    float: right;
    margin-right: 50px;
}

.hot-item .content .news-list {
    position: relative;
    width: 680px;
    height: 677px;
    padding: 33px 26px 26px;
    background: url(../images/cb-rd-icon02.png) no-repeat;
}

.news-list .rd-num-rank {
    overflow: hidden;
    background-color: #0c3852;
}

/* 日历样式 */
.news-list .rd-num-rank .rd-num-tit {
    position: absolute;
    top: -70px;
    left: 45px;
}

.rd-num-rank .rd-num-tit h3 {
    font-size: 28px;
    float: left;
    margin-right: 17px;
    color: #82e2ff;
}

.rd-num-tit .rd-date-sel {
    float: left;
    margin-right: 10px;
}

.rd-num-tit .rd-date-sel input {
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
    display: block;
    width: 140px;
    height: 35px;
    padding-left: 10px;
    color: #72d8ff;
    border-radius: 4px;
    box-shadow: inset 0 0 10px #195f91;
}

.rd-num-tit .rd-date-sel .date-icon {
    border: none;
    background: url(../images/cb-rd-icon05.png) no-repeat 110px center;
}

.rd-num-tit .rd-date-btn {
    float: left;
}

.rd-num-tit .rd-date-btn > div {
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    display: block;
    float: left;
    width: 71px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
    color: #72d8ff;
    border-radius: 4px;
    box-shadow: inset 0 0 10px #195f91;
}

.rd-num-tit .rd-date-btn span {
    font-size: 14px;
}

.rd-num-tit .rd-date-btn .selected {
    color: #fff !important;
    background: #1693ff !important;
    box-shadow: none;
}

/* 热点内容四个小角图标样式 */
.news-list .rd-num-con span {
    position: absolute;
    width: 11px;
    height: 11px;
}

.news-list .rd-num-con .icon01 {
    top: 30px;
    left: 23px;
    border-top: 1px solid #96a8bc;
    border-left: 1px solid #96a8bc;
}

.news-list .rd-num-con .icon02 {
    top: 30px;
    right: 23px;
    border-top: 1px solid #96a8bc;
    border-right: 1px solid #96a8bc;
}

.news-list .rd-num-con .icon03 {
    bottom: 20px;
    left: 23px;
    border-bottom: 1px solid #96a8bc;
    border-left: 1px solid #96a8bc;
}

.news-list .rd-num-con .icon04 {
    right: 23px;
    bottom: 20px;
    border-right: 1px solid #96a8bc;
    border-bottom: 1px solid #96a8bc;
}

/* 热点标题样式 */
.news-list .rd-num-top {
    overflow: hidden;
    padding: 10px 10px 13px;
    border-bottom: 1px dotted #2c6986;
    background-color: rgba(21,190,255,.2);
}

.news-list .rd-num-top .cd-rd-num {
    float: left;
}

.news-list .rd-num-top img {
    float: left;
}

.news-list .rd-num-top span {
    font-size: 16px;
    font-weight: 600;
    line-height: 39px;
    display: block;
    padding-left: 44px;
}

.news-list .rd-num-top .cd-rd-num span {
    color: #72d8ff;
}

.news-list .rd-num-top .cd-rz-num {
    float: right;
    margin-right: 34px;
}

.news-list .rd-num-top .cd-rz-num span {
    color: #fc0;
}

/* 热点中间列表样式 */
.news-list .news-container {
    overflow: hidden;
    width: 100%;
    background-color: #0c3852;
}

.news-list .news-container .news-item {
    font-weight: 600;
    line-height: 50px;
    height: 50px;
    padding: 0 45px 0 20px;
}

.news-list .news-container .news-bg-blue {
    background-color: rgba(21,190,255,.2);
}

.news-list .news-container .news-item .news-content a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    float: left;
    overflow: hidden;
    max-width: 85%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #51afff;
}

.news-list .news-container .news-item .news-visits span {
    font-size: 20px;
    font-weight: 600;
    display: block;
    float: right;
    color: #fc0;
}

/* 翻页 */
.hot-item .content .news-page {
    width: 100%;
    margin: 13px 0;
    text-align: center;
}

.hot-item .content .news-page .news-page-inner {
    display: inline-block;
}

.hot-item .content .news-page-btn {
    font-size: 12px;
    float: left;
    cursor: pointer;
    color: #999;
}

.hot-item .content .news-page-btn:hover {
    color: #7c9f9b;
}

.hot-item .content .new-page-div {
    font-size: 14px;
    line-height: 32px;
    width: 32px;
    height: 32px;
    margin: 0 3px;
    color: #6ca0c7;
    border-radius: 50%;
    box-shadow: inset 0 0 20px #2a668d;
}

.hot-item .content .news-page .left-page,
.hot-item .content .news-page .right-page {
    display: block;
    width: 8px;
    height: 15px;
    margin-top: 8px;
}

.hot-item .content .news-page .left-page {
    margin-right: 15px;
    background: url(../images/cb-rd-icon06.png) no-repeat;
}

.hot-item .content .news-page .right-page {
    margin-left: 15px;
    background: url(../images/cb-rd-icon07.png) no-repeat;
}

.hot-item .content .news-page .news-page-selected {
    color: #fff!important;
    box-shadow: inset 0 0 34px #f84545!important;
}

.hot-item .content .news-page .news-page-more {
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    color: #585858;
}

/* 趋势柱状图样式 */
.hot-item .content .trend-chart {
    width: 680px;
    height: 237px;
    margin-top: 20px;
    border: 1px solid #1b3d57;
    background-color: rgba(18,51,83,.2);
    box-shadow: inset 0 0 10px #1b3d57;
}

.trend-chart .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 17px;
    text-align: center;
    text-align: center;
    color: #72d8ff;
}

.trend-chart .trend-chart-container {
    width: 100%;
    height: 250px;
    margin-top: -24px;
}

/* 页脚图标样式 */
.cd-footer-lf,
.cd-footer-rt {
    position: absolute;
    width: 114px;
    height: 79px;
}

.cd-footer-lf {
    bottom: 12px;
    left: 10px;
    background: url(../images/cb-cj-bac02.png) no-repeat;
}

.cd-footer-rt {
    right: 10px;
    bottom: 12px;
    background: url(../images/cb-cj-bac03.png) no-repeat;
}

/*实时舆情热点*/
.current-hot-container {
    overflow: hidden;
}

.current-hot-left {
    float: left;
    width: 1339px;
    height: 913px;
    margin-left: 54px;
    background: url(../images/cur-hot-bg2.png) no-repeat;
}

.current-hot-left .current-hot-left-tit {
    line-height: 64px;
    float: right;
    width: 564px;
    height: 64px;
}

.current-hot-left .current-hot-left-tit span {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.current-hot-left .current-hot-left-tit span.prev {
    float: left;
    margin: 16px 0 0 82px;
    background: url(../images/cur-hot-icon2.png) no-repeat;
}

.current-hot-left .current-hot-left-tit span.next {
    float: right;
    margin: 16px 40px 0 0;
    background: url(../images/cur-hot-icon3.png) no-repeat;
}

.current-hot-left .current-hot-left-tit p {
    font-size: 30px;
    font-weight: bold;
    float: left;
    margin-left: 70px;
    padding-left: 60px;
    color: #82e2ff;
    background: url(../images/cur-hot-icon4.png) no-repeat left center;
}

.current-hot-left-con-wrap {
    overflow: hidden;
    margin: 21px 21px;
}

.current-hot-left-con {
    height: 137px;
}

.bg-0c3 {
    background: #0c374f;
}

.current-hot-left-con .area {
    font-size: 18px;
    font-weight: bold;
    line-height: 53px;
    display: block;
    float: left;
    width: 53px;
    height: 53px;
    margin: 40px 0 0 30px;
    text-align: center;
    color: #fff;
    border: 3px solid #4990ac;
    border-radius: 28px;
    background: #157fdb;
}

.current-hot-left-con .context {
    float: left;
    width: 540px;
    margin-left: 16px;
}

.current-hot-left-con .context p:nth-child(1) {
    font-size: 18px;
    line-height: 20px;
    margin-top: 30px;
    color: #51afff;
}

.current-hot-left-con .context p:nth-child(2) {
    font-size: 14px;
    line-height: 30px;
    margin-top: 12px;
    color: #51afff;
}

.current-hot-left-con .bar {
    float: left;
    width: 330px;
    height: 50px;
    height: 50px;
    margin-top: 45px;
    margin-left: 80px;
    background: url('../images/cur-hot-icon7.png') no-repeat;
}

.current-hot-left-con .bar span {
    line-height: 50px;
    color: #fff;
}

.current-hot-left-con .bar span:nth-child(1) {
    float: left;
    margin-left: 20px;
}

.current-hot-left-con .bar span:nth-child(2) {
    float: right;
    margin-right: 20px;
}

.current-hot-left-con .bar .process-bar {
    position: relative;
    float: left;
    width: 200px;
    margin-left: 18px;
}

.current-hot-left-con .bar .process-bar .line {
    position: absolute;
    z-index: 1;
    top: 24px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
}

.current-hot-left-con .bar .process-bar .line-red {
    position: absolute;
    z-index: 1;
    top: 24px;
    left: 0;
    height: 3px;
    background: #ff5d5d;
}

.current-hot-left-con .bar .process-bar .circle {
    position: absolute;
    z-index: 2;
    top: 13px;
    left: 0;
    width: 26px;
    height: 26px;
    margin-left: -13px;
    border-radius: 13px;
    background: #ff5d5d;
}

.current-hot-left-con .support {
    float: left;
    margin-top: 53px;
    margin-left: 53px;
}

.current-hot-left-con .support i {
    font-style: normal;
    line-height: 26px;
    display: block;
    width: 64px;
    height: 26px;
    padding-left: 30px;
    cursor: pointer;
    text-align: left;
    color: #4698bc;
    background: url(../images/cur-hot-icon5.png) no-repeat left center;
}

.current-hot-left-con .transpond {
    float: left;
    margin-top: 53px;
}

.current-hot-left-con .transpond i {
    font-style: normal;
    line-height: 22px;
    display: block;
    width: 64px;
    height: 22px;
    margin-top: 6px;
    padding-left: 30px;
    cursor: pointer;
    text-align: left;
    color: #4698bc;
    background: url(../images/cur-hot-icon6.png) no-repeat left center;
}

.current-hot-right {
    float: right;
    width: 445px;
    margin-top: 63px;
    margin-right: 50px;
}

.current-hot-right .current-hot-right-wrap {
    overflow: hidden;
    height: 276px;
    margin-bottom: 12px;
    background: url(../images/cur-hot-bg1.png) no-repeat;
}

.current-hot-right .current-hot-right-wrap p {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    text-align: center;
    color: #56a5c5;
}

.current-hot-right .current-hot-right-wrap div {
    width: 445px;
    height: 236px;
}

.hot-item .current-hot-header {
    background: url(../images/cur-hot-icon1.png) no-repeat;
}
